* {
    background-color: black;
    color: white;
}

body{
	  font-size: 20px;
	  font-family: sans-serif;
    padding: 20px;
}

.container {
    background-color: aqua;
    margin: 0 auto;
	  text-align: center;
	  padding: 20px;
}

#startBtn{
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    background: #3929cc;
    border-color: #d4d121;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


.timer-container button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    background: #cc4d29;
    border-color: #cc4d29;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
  }

#submitBtn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
    }

#saveBtn {
  outline: #3929cc;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #3929cc;
  border-radius: 500px;
}

.ans-buttons {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: #fff;
}
.custom-radio:checked {
  background-color: #000;
  border-color: #fff;
}
